body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.espaciadodeletras {
    letter-spacing: 10px;
}

header {
    background-color: #E6E6E6;
}

.batman {

    text-align: center;
}

span {
    font-style: italic;
    font-weight: 700;
}

h1 {
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;

}

h2 {
    height: 30px;
    width: 1440px;
    color: #005677;
    background-color: #C4C4C4;

}

footer {
    height: 37px;
    background-color: #005677;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}